.modal {
  display: none;
  position: fixed;
z-index: 1000; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: #d4e9e9;
  padding: 20px;
border-radius: 2%;
}
.modal .mostrar{
display: block;
}
.contenidoModal {
  margin: auto;
  padding: 20px;
  max-width: 100%;
  display: flex;
  align-items: center;
}
/* manejo de imagen lateral*/
.modalImagen {
  flex: 1;
  padding: 20px;
}
.modalImagen img {
  max-width: 100%;
  height: 100%;
}
/* manejo de texto*/
.modalInfo {
  flex: 2;
  padding: 20px;
}
.modalInfo h1{
text-align: center;
font-size: 35px;
color: rgb(39, 118, 202);
text-decoration: none;
}
.modalInfo p{
font-size: 20px;
text-align: justify;
}
/* organizacion generos*/
.generos li {
  color: rgb(37, 31, 83);
  display: inline-block;
  opacity: 60%;
padding: 10px;
font-size: 20px;
}
.generos ul {
  list-style: none;
}
/*boton de cerrar*/
.close button {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8fc6d2;
  color: rgb(84, 77, 77);
  width: 100%;
  border: 0;
  padding: 11px;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.close button:hover,
.close button:active,
.close button:focus {
  background: #b4baca;
}

body.modal-open::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  z-index: 999; /* Asegura que el fondo esté detrás del modal */
}
