/* horizontalidad de tarjetas*/
.organizadorHorizontal {
  display: flex;
margin: 100px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; 
}

/* tarjetas*/
.tarjeta {
  display: flex;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 1);
  width: 210px;
  height: 330px;
  margin: 15px;
  background: none;
  cursor: pointer;
  position: relative; 
  z-index: 1;
}

.imagentarjeta {
  flex: 3; /* Add flex property */
}

.contenidoTarjetas {
  padding: 1px; /* Add padding for spacing */
display: flex;
justify-content: center;
align-items: center;
}
.contenidoTarjetas p{
margin-bottom: 10px;
text-align: center;
color: rgb(0, 0, 0);
}

.tarjeta .imagentarjeta img {
  margin: 10px;
  height: 260px;
  width: 190px;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  border-radius: 2%;
transition: transform 2s ease;
}
.tarjeta:hover{
transform: scale(1.1);
background-color: #4a7878;
}