<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilogeneral.css">
    <link rel="stylesheet" href="../css/tarjetas.css">
    <link rel="stylesheet" href="../css/modal.css">
</head>

<body>
    <!--header-->
    <section class="header">
        <div>
            <img src="../assets/img/logo.png" alt="logo" id="logo">
            <h1 class="bebas-neue-regular">Cine Casero</h1>
        </div>
    </section>

    <!--nabvar-->
    <section class="nabvegacion">
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">inicio</a></li>
                    <li><a href="base.html">catalogo</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <div class="contenedorAside">
        <aside class="filtros">
            <!--buscador-->
            <div class="busqueda">
                <input type="text" id="buscadorTitulo" placeholder="Ingresa el titulo">
                <button id="botonBuscar">Buscar</button>
            </div>
            <!--seccion de filtro años-->
            <div class="seccionFiltros">
                <h3>Año</h3>
                <input type="checkbox" id="year2022" value="2022">
                <label for="year2022">2022</label>
                <input type="checkbox" id="year2023" value="2023">
                <label for="year2023">2023</label>
            </div>
            <!--filtro de generos-->
            <div class="seccionFiltros">
                <h3>Generos</h3>
                <input type="checkbox" id="generoAccion" value="accion">
                <label for="generoAccion">Accion</label>
                <input type="checkbox" id="generoDrama" value="drama">
                <label for="generoDrama">Drama</label>
                <input type="checkbox" id="generoRomance" value="romance">
                <label for="generoRomance">Romance</label>
                <input type="checkbox" id="generoMisterio" value="misterio">
                <label for="generoMisterio">Misterio</label>
                <input type="checkbox" id="generoComedia" value="comedia">
                <label for="generoComedia">Comedia</label>
                <input type="checkbox" id="generoTerror" value="terror">
                <label for="generoTerror">Terror</label>
                <input type="checkbox" id="generoFantasia" value="fantasia">
                <label for="generoFantasia">Fantasia</label>
                <input type="checkbox" id="generoFiccion" value="ficcion">
                <label for="generoFiccion">Ficcion</label>
                <input type="checkbox" id="generoSuspenso" value="suspenso">
                <label for="generoSuspenso">Suspenso</label>
            </div>
        </aside>
    </div>


    <!--tarjetas y organizador-->
    <section class="secciontarjetas">
        <div class="organizadorHorizontal">
            <!--tarjeta-->
            <div class="tarjeta" data-modal-id="modal12022" data-year="2022" data-genres="accion, romance">
                <div class="imagentarjeta">
                    <img src="../assets/img/Aquaman_y_el_reino_perdido-274178849-large.jpg" alt="imagen">
                    <div class="contenidoTarjetas">
                        <p>titulo pelicula</p>
                    </div>
                </div>
            </div>
            <div class="tarjeta" data-modal-id="modal2-2022" data-year="2023" data-genres="comedia">
                <div class="imagentarjeta">
                    <img src="../assets/img/Aquaman_y_el_reino_perdido-274178849-large.jpg" alt="imagen">
                    <div class="contenidoTarjetas">
                        <p>sapo</p>
                    </div>
                </div>
            </div>
        </div> <!--finalizar organizador horizontal-->
        <section id="Creacionmodales">
            <div id="modal12022" class="modal" role="dialog" aria-labelledby="modal-title"
                aria-describedby="modal-description">
                <!--contenido del modal-->
                <div class="contenidoModal">
                    <div class="modalImagen">
                        <img src="../assets/img/Aquaman_y_el_reino_perdido-274178849-large.jpg"
                            alt="Imagen de la película">
                    </div>
                    <div class="modalInfo">
                        <h1>Título de la película</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate sequi, repudiandae
                            cumque
                            voluptate ipsa quis totam? A, quod animi labore veritatis repellendus distinctio inventore
                            dolorum natus quia doloribus, aut dolores ad nihil dolore iusto esse? Eaque omnis
                            perspiciatis
                            neque?</p>
                        <div class="generos">
                            <ul>
                                <li>Acción</li>
                                <li>Aventura</li>
                                <!-- Agrega más géneros según sea necesario -->
                            </ul>
                        </div>
                        <div class="close">
                            <button class="modal__cerrar">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--modal 2-->
            <div id="modal2-2022" class="modal" role="dialog" aria-labelledby="modal-title"
                aria-describedby="modal-description">
                <!--contenido del modal-->
                <div class="contenidoModal">
                    <div class="modalImagen">
                        <img src="../assets/img/Aquaman_y_el_reino_perdido-274178849-large.jpg"
                            alt="Imagen de la película">
                    </div>
                    <div class="modalInfo">
                        <h1>Título de la película</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate sequi, repudiandae
                            cumque
                            voluptate ipsa quis totam? A, quod animi labore veritatis repellendus distinctio inventore
                            dolorum natus quia doloribus, aut dolores ad nihil dolore iusto esse? Eaque omnis
                            perspiciatis
                            neque?</p>
                        <div class="generos">
                            <ul>
                                <li>Drama</li>
                                <li>Romance</li>
                                <!-- Agrega más géneros según sea necesario -->
                            </ul>
                        </div>
                        <div class="close">
                            <button class="modal__cerrar">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
       <section class="footerepico">
        <footer>
            <div>
                <p>copy</p>
            </div>
        </footer>
    </section>

    <!--footer-->
    
    <script src="../js/nuevoModal.js"></script>
    <script src="../js/filtrado.js"></script>
</body>

</html>