<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilogeneral.css">
    <link rel="stylesheet" href="../css/tarjetas.css">
    <link rel="stylesheet" href="../css/modal.css">

</head>

<body>
    <!--header-->
    <section class="header">
        <div>
            <img src="../assets/img/logo.png" alt="logo" id="logo">
            <h1 class="bebas-neue-regular">Cine Casero</h1>
        </div>
    </section>

    <!--nabvar-->
    <section class="nabvegacion">
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">inicio</a></li>
                    <li><a href="base.html">catalogo</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section>
<div>

</div>
</section>
       <section class="footerepico">
        <footer>
            <div>
                <p>copy</p>
            </div>
        </footer>
    </section>

    <!--footer-->
    
    <script src="../js/nuevoModal.js"></script>
    <script src="../js/filtrado.js"></script>
</body>

</html>