<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilogeneral.css">
    <link rel="stylesheet" href="../css/tarjetas.css">
    <link rel="stylesheet" href="../css/modal.css">

</head>

<body>
    <!--header-->
    <section class="header">
        <div class="logoContainer">
            <img src="../assets/img/logo.png" alt="logo" id="logo">
        </div>
    </section>

    <!--nabvar-->
    <section class="nabvegacion">
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">inicio</a></li>
                    <li><a href="base.html">catalogo</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="menuInicial">
        <aside class="imagenInicio">
            <img src="../assets/img/spiderman.jpg" alt="Descripción de la imagen">
        </aside>
        <div class="Texto">
            <h1>Cine Casero</h1>
            <p>somos cine casero
                una pagina donde podras conocer todas las peliculas
                que fueron estrenadas en el 2022 y el 2023


            </p>
            <p>contamos con un amplio catalogo de peliculas
                que permiten ser filtradas por genero y año haciendo asi su facil visualizacion</p>

            <p>¿que esperas para conocer tu proxima pelicula?</p>
            <div class="botonRedic">
                <button><a href="base.html">Ir al catalogo</a></button>
            </div>
        </div>

    </section>
    <section class="footerepico">
        <footer>
            <div>
                <p>copy 2024</p>
            </div>
        </footer>
    </section>

    <!--footer-->

    <script src="../js/nuevoModal.js"></script>
    <script src="../js/filtrado.js"></script>
</body>

</html>